<div class="modal fade" id="transModal" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">AccuWeather Icon Translations</h4>
            </div>
            <div class="modal-body">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Icon Id</th>
                            <th>Icon Text</th>
                            <th>Day</th>
                            <th>Night</th>
                            <th>PoGO Icon</th>
                            <th>Windy Override</th>
                            <th>Windy Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="t in translations">
                            <td ng-bind="t.id"></td>
                            <td ng-bind="t.iconText"></td>
                            <td class="text-center"><i class="fa" ng-class="{'fa-check text-success':t.isDay, 'fa-times text-danger': !t.isDay}"></i></td>
                            <td class="text-center"><i class="fa" ng-class="{'fa-check text-success':t.isNight, 'fa-times text-danger': !t.isNight}"></i></td>
                            <td>
                                <select class="form-control" ng-model="t.pgoIconId" ng-options="pw.id as pw.description for pw in pgoWeather" ng-change="saveTranslation(t)"></select>
                            </td>
                            <td class="text-center">
                                <input type="checkbox" class="checkbox" ng-model="t.canWindy" ng-change="saveTranslation(t)" />
                            </td>
                            <td>
                                <input type="number" class="form-control" ng-model="t.windOverrideVal" ng-mouseleave="saveTranslation(t)" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>