<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

      -->
  <appSettings xdt:Transform="Replace">
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Disord" value="ld" />
  </appSettings>
  <connectionStrings xdt:Transform="Replace">
    <add name="PokeEntities" connectionString="metadata=res://*/Models.PokeModel.csdl|res://*/Models.PokeModel.ssdl|res://*/Models.PokeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot; YOUR PRODUCTION CONNECTION STRING HERE &quot;" providerName="System.Data.EntityClient" />
    <!--<add name="PokeToolsEntities" connectionString="metadata=res://*/Models.WeatherModel.csdl|res://*/Models.WeatherModel.ssdl|res://*/Models.WeatherModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PokeTools.mssql.somee.com;initial catalog=PokeTools;persist security info=True;user id=thornleaf_SQLLogin_1;password=Kr1st1n4;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="PokeEntities" connectionString="metadata=res://*/Models.PokeModel.csdl|res://*/Models.PokeModel.ssdl|res://*/Models.PokeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PokeTools.mssql.somee.com;initial catalog=PokeTools;persist security info=True;user id=thornleaf_SQLLogin_1;password=Kr1st1n4;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>

<system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
